@font-face {
  font-family: 'DB Helvethaica X Bd';
  src:local('DB Helvethaica X Bd'), local('DB Helvethaica X Bd'), url(/fonts/DB%20Helvethaica%20X%20Bd%20v3.2.ttf)format('woff2');
  font-weight: normal;
  font-style: normal;
}
